body {
  font-family: Arial, sans-serif;
  background-color: #282c34;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  width: 90vw; 
  min-width: 300px; 
  max-width: 600px; 
  box-sizing: border-box; 
  overflow-x: hidden; 
  overflow-y: hidden;
  border: 1px solid #444;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}


.chat-container {
  display: flex;
  flex-direction: column;
  height: 70vh;
  max-height: 500px;
  padding: 20px;
  overflow-y: auto;
}

.messages {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.message {
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  max-width: 80%;
}

.user {
  align-self: flex-end;
  background-color: #61afef;
  color: #fff;
}

.ai {
  align-self: flex-start;
  background-color: #444;
}

.message-form {
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
  align-items: center;
}

.message-form input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 20px;
  background-color: #333;
  color: #fff;
  margin-right: 10px;
  outline: none;
}

.voice-input-button, .new-chat-button {
  background-color: transparent; 
  border: 1px solid #666; 
  color: #aaa; 
  padding: 6px; 
  border-radius: 7px;
  cursor: pointer;
  font-size: 1.1em;
  transition: all 0.2s ease-in-out; 
}

.voice-input-button.listening {
  color: #f09292; 
  border-color: #f09292;
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; 
    height: 100%;
    background-color: #242525; 
    color: white;
    z-index: 1000; 
  
    /* hide sidebar */
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

/* display sidebar */
.sidebar.open {
    transform: translateX(0);
}

.sidebar h2 {
    color: white;
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #7f8c8d;
    font-size: 1.2rem;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    background: none;
    color: #ecf0f1;
    padding: 11px;
    margin-bottom: 8px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: none; 
}

.sidebar li:hover {
    background-color: #565757; 
}

.App-header {
  display: flex;
  align-items: center; 
  justify-content: center;
  padding: 8px 20px; 
  background-color: #2a2a2a; 
  border-bottom: 1px solid #333;
}

.App-header h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  color: white; 
  font-size: 1.4em;
  margin: 0; 
  padding: 10px 0; 
  margin-left: 12px; 
}

.App-header button {
  background-color: transparent; 
  border: 1px solid #444; 
  color: #aaa; 
  padding: 6px;
  font-size: 0.8em;
  border-radius: 5px;
  cursor: pointer;
}

.new-chat-button {
  margin-right: 5px;
}

.sidebar li.active {
  background-color: #61afef; 
  font-weight: bold; 
}

.rename-button, .delete-button {
  background: none;
  border: none;
  margin-left: 5px;
  cursor: pointer;
  color: #fcfcfc; 
  font-size: 1em;
}

.rename-button:hover, .delete-button:hover {
  color: #807f7f; 
}

.chat-container {
  scrollbar-color: #555 #2a2a2a; 
  scrollbar-width: auto;
}

/* Webkit browsers */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background-color: #525252;
  border-radius: 10px;
  border: 2px solid #2a2a2a;
}

.confirm-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.confirm-modal {
  background: #242525;
  padding: 20px;
  border-radius: 30px;
  min-width: 190px;
  text-align: center;
  color: white;
 }

.confirm-modal-buttons {
  display: flex;
  justify-content: space-evenly;
}

.confirm-modal-buttons button {
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  background: #333;
  color: white;
  border: none;
  transition: background 0.2s ease;
}

.confirm-modal-buttons button:hover {
  background: #555;
}

.sidebar-disclaimer {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 12px;
  margin: 10px 0;
  font-size: 0.87rem;
  line-height: 1.4;
  color: #ccc; 
  border-top: 5px solid #00aaff;
}

.sidebar-disclaimer i {
  margin-right: 8px;
  color: #00aaff;
}